@model ProjectCanine.AdminPortal.ViewModels.TestGridRow
@{
	ViewBag.Title = "Details";
}
<h1>@ViewBag.Title</h1>
<div>
	<h2>Test</h2>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Id)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Id)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.ShortName)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.ShortName)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.HandlerSignaturePrompt)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.HandlerSignaturePrompt)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.LastEditedBy)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.LastEditedBy)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.LastEditedDate)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.LastEditedDate)
		</dd>
	</dl>
	<h2>Sections in this test:</h2>
	@foreach (var section in Model.Sections)
	{
		<h3>@Html.DisplayFor(modelItem => section.SectionNumber). @Html.DisplayFor(modelItem => section.Title)</h3>
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(modelItem => section.Title)
			</dt>
			<dd>
				@Html.DisplayFor(modelItem => section.Title)
			</dd>
			<dt>
				@Html.DisplayNameFor(modelItem => section.Description)
			</dt>
			<dd>
				@Html.DisplayFor(modelItem => section.Description)
			</dd>
			<dt>
				@Html.DisplayNameFor(modelItem => section.LastEditedBy)
			</dt>
			<dd>
				@Html.DisplayFor(modelItem => section.LastEditedBy)
			</dd>
			<dt>
				@Html.DisplayNameFor(modelItem => section.LastEditedDate)
			</dt>
			<dd>
				@Html.DisplayFor(modelItem => section.LastEditedDate)
			</dd>
		</dl>
		<h4>Questions in this sections:</h4>
		<table class="table">
			<tr>
				<th>
					@Html.DisplayNameFor(modelItem => section.Questions.FirstOrDefault().QuestionNumber)
				</th>
				<th>
					@Html.DisplayNameFor(modelItem => section.Questions.FirstOrDefault().Text)
				</th>
				<th>
					@Html.DisplayNameFor(modelItem => section.Questions.FirstOrDefault().MustPass)
				</th>
				<th>
					@Html.DisplayNameFor(modelItem => section.Questions.FirstOrDefault().HasYesNo)
				</th>
				<th>
					@Html.DisplayNameFor(modelItem => section.Questions.FirstOrDefault().LastEditedBy)
				</th>
				<th>
					@Html.DisplayNameFor(modelItem => section.Questions.FirstOrDefault().LastEditedDate)
				</th>
			</tr>
			@foreach (var question in section.Questions)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => question.QuestionNumber)
					</td>
					<td>
						@Html.DisplayFor(modelItem => question.Text)
					</td>
					<td>
						@Html.DisplayFor(modelItem => question.MustPass)
					</td>
					<td>
						@Html.DisplayFor(modelItem => question.HasYesNo)
					</td>
					<td>
						@Html.DisplayFor(modelItem => question.LastEditedBy)
					</td>
					<td>
						@Html.DisplayFor(modelItem => question.LastEditedDate)
					</td>
				</tr>
			}
		</table>
		<br /><br />
	}
</div>
<p>
	@Html.ActionLink("Back to List", "Index")
</p>
